* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#toggle-search {
  padding: 12px;
  background-color: bisque;
  color: blue;
  border-radius: 12px;
  position: fixed;
  top: 20px;
  left: 100px;
  z-index: 300;
  border: none;
  cursor: pointer;
}

#route-panel.open {
  z-index: 200;
  display: flex;
  border-radius: 12px;
  max-height: calc(100vh - 70px);
  width: 280px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  left: 100px;
  background-color: beige;
}

#route-panel {
  display: none;
}

#map-area {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  cursor: grab;
}

#container-map {
  position: absolute;
  transform-origin: 0 0;
}

#map-img {
  user-select: none;
}

.pin {
  z-index: 666;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: auto;
  /* ini wajib ya */
  /* Jadi misalnya pin Jakarta di x:100, y:200 — tanpa transform, pojok kiri atas pin ada di titik (100, 200), tapi garis menuju ke (100, 200) yang harusnya jadi ujung bawah tengah pin.
Dengan translate(-50%, -100%), pin akan naik ke atas dan geser ke kiri supaya ujung bawah tengahnya tepat di titik (100, 200), sama persis dengan titik garis. */
transform: translate(-20%, -100%);

/* JDI INI MAH DI SESUAIKAN AJA YA NANTI PAKE PERSEN YA */

  /* ENGGA YA INI THU RELATIVE TERNYATA */
  /* JAD MISALNYA KALO ADA TITIK X 100 DAN Y 300 MAKA KAN TITIK AWAL DARI PIN ADALH POJOK KIRI ATAS AKN
  YAITU DI TITIK X 200 DAN Y 300 NAH  */

}

#lines-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#pinpoints-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pin-action {
  display: flex;
  border: 1px solid rgb(0, 77, 128);
  border-radius: 12px;
  padding: 3px;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.pin-action div img {
  width: 15px;
  height: 15px;
}

.pin-img { 
  /* PENTING */
  
  display: block;
  filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(340deg)
    brightness(100%);
}

.pin-action.connecting {
  border-color: purple;
}
