* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* taruh ke tengah */

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* ini layout */
[data-el="game"] {
  width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

[data-el='hud']{
    position: absolute;
    top: 0;
    height: 40px;
    right: 200px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
}

[data-el='board']{
    position: absolute;
    top: 40px;
    right: 200px;
    bottom: 0;
    left: 0;
    background: url('../Sprites/background.jpg') center/cover;
    cursor: none;
}

[data-el='sidebar']{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    bottom: 0;
    overflow-y: auto;
    border-left: 1px solid black;
}

/* ini yang gun  */
[data-el='gun'],[data-el='pointer']{
    pointer-events: none;
    position: absolute;
    z-index: 30;
}
[data-el='gun']{
    width: 40px;
    transform: translate(-40%, -10%);
}
[data-el='pointer']{
    width: 34px;
    transform: translate(-60%, -60%);
}

/* buat overlay biar ditengah gampang kita pake grid ja ya*/
.overlay {
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 100;
    /* ini  PENTINGGGG BANGET INSETTT😭 */
    inset: 0; 
}

/* panel */
.panel {
    position: relative;
    width: 490px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.panel.sm {
    max-width: 340px;
}
.panel.lg {
    width: 600px;
}

/* tahap ke tiga (css ga ada tahap dua ya) */
.target {
    position: absolute;
    width: 80px;
    cursor: none;
    z-index: 10;
    animation: popIn .2s ease-out;
}
@keyframes popIn{
    from{
        transform: scale(0);
        opacity: 0;
    }
}

.boomfx {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url('../Sprites//boom.png')center/cover;
    pointer-events: none;
    z-index: 13;
}